
<!DOCTYPE html>
<html >
<head>
 <title>Simon </title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
  <body ng-app="simon" ng-controller="GameController" ng-init="buttonSelection()" >

<div class="outerCircle">
   <div class="buttonWrapper">
     <button class="topLeft" ng-click="playerSelection(1)"></button>
     <button class="topRight" ng-click="playerSelection(2)"></button>
   <div class="middleSpace"></div>
     <button class="bottomLeft" ng-click="playerSelection(4)"></button>
     <button class="bottomRight" ng-click="playerSelection(3)"></button>
   </div>
</div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="controllers/GameController.js" type="text/javascript"></script>
</body>
